 body{
  margin: 0;
  background: #e9e9e9;
  h1 {
  color: black;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: black;
  border: 2px solid grey;
  padding: 30px;
  margin: 50px;
  font-family: courier;
  font-size: 160%;
}
  border-left: 25px solid maroon;
  border-right: 25px solid maroon;
  border-bottom: 25px solid maroon;
  border-top: none;

  min-height: 100vh;

 }

