 .body{
  border-style: solid;
  border-color: red;
}
 
  
.navbar ul {
    list-style: none;
    background-color: maroon;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    /* flex handles layout, so no float needed */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    background-color: darkred;
    
}

.navbar{
    background-color:rgb(49, 117, 176);
}
.title{
     background-color:white;
     text-align: center;
}

.basicInfo{
     background-color:rgb(161, 231, 144);
}
.center {
 background-color:white;
  text-align: center; 
  font-size: 10px;
}
.guide{
     background-color:rgb(212, 135, 207);
}

